client/node_modules/*
client/package-lock.json
client/yarn.lock

my.csv
server.json
ses-mailer.json
client.json
server/node_modules/*
server/package-lock.json   
.env
.env
ses-mailer/.env
ses-mailer/node_modules/*
.DS_Store
npm-debug.log
yarn-error.log
.vscode/
dist/
coverage/
.idea/
.env.local
.env.development.local
.env.test.local 
curl.txt
doc.txt
doc/*